# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# Logs / outputs
logs/
*.log

# Emulator / ROMs / saves (DO NOT COMMIT)
roms/
*.gba
*.gb
*.gbc
*.sav
*.state
.DS_Store
